* {
  font-family: "Cormorant Garamond", serif;
  box-sizing: border-box;
}
body,
ul,
h1,
h2,
h3,
p,
hr {
  margin: 0;
  padding: 0;
}
h1,
h2 {
  font-family: "Playfair Display", serif;
}
a {
  text-decoration: none;
}
li {
  list-style: none;
}

button {
  cursor: pointer;
  padding: 0;
  border: none;
}
:root {
  --white: #fff;
  --green: #a8c3a0;
  --dark-green: #4a7351;
  --background-green: rgb(234, 247, 234);
  --background-rose: rgb(251, 222, 239);
}
.container {
  max-width: 100%;
  padding-left: 16px;
  padding-right: 16px;
  margin: 0 auto;
  box-sizing: border-box;
}
.section_title {
  font-size: 36px;
  text-transform: capitalize;
}
.section-info {
  font-size: 24px;
}
.section {
  background: linear-gradient(
    90deg,
    var(--background-green) 0%,
    var(--background-rose) 50%,
    var(--background-green) 100%
  );
  padding: 60px 0;
}

.slick-track {
  margin-bottom: 20px;
}
@media screen and (min-width: 345px) {
  .container {
    width: 345px;
  }
}
@media screen and (min-width: 768px) {
  .container {
    width: 768px;
    padding-left: 32px;
    padding-right: 32px;
  }
}
@media screen and (min-width: 1440px) {
  .container {
    width: 1440px;
    padding-left: 64px;
    padding-right: 64px;
  }
}
